body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1', sans-serif;
}
.bkleft, .bkright {
    display: none;
}
header {
    margin-top: 32px;
}
h1 {
    font-size: 18px;
}
.logo {
    width: 280px;
    height: 200px;
    background-image: url(img/pc.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin: 8px auto;    
}
.logo img {
    width: 132px;
    height: 48px;
    padding: 28px 0 0 42px;
}
.logo p {
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    color: #7b1d3b;
    padding: 0 10px 50px 80px;
}
main {
    margin: 32px 16px;
}
section {
    margin: 48px 0;
}
details {
    margin: 8px 0;
    padding: 8px;
    font-size: 16px;
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
}
details > summary {
    cursor: pointer;
    list-style-type: none;
    position: relative;    
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    z-index: 5;
}
details > summary > img {
    width: 22px;
    vertical-align: middle;
    margin-right: 4px;
}
details > summary span {
    font-size: 12px;
}
details > summary::after {
    position: absolute;
    right: 16px;
    content: "+";
    font-weight: bold;
    color: #555;
}
details[open] > summary::after {
    transform: rotate(45deg);
}
details > div {
    margin: 0 32px;
    position: relative;
    min-height: 166px;
}
details > div > img {
    height: 150px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 8px; 
    margin: 0;
    animation: imageChange 6s linear infinite;
}
.ticket, .location {
    border: solid 1px #ddd;
    border-radius: 6px;
    width: 240px;
    padding: 12px 8px;
    margin: 24px auto;
    box-shadow: 2px 2px 2px #ccc;
    font-size: 12px;
}
.location {
    margin-bottom: 48px;
}
@keyframes imageChange {
    0% { opacity: 0;}
    10% { opacity: 1;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    100% { opacity: 0;}
}
details > div > img:nth-child(2) {
    animation-delay: 1.5s;
}
details > div > img:nth-child(3) {
    animation-delay: 3s;
}
details > div > img:nth-child(4) {
    animation-delay: 4.5s;
}
details > div > p {
    padding-top: 166px;
}
iframe {
    width: 240px;
    height: 200px;
    margin: 0;
}
footer {
    margin: 0;
    background-color: #3f2f1a;
    color: #fff;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: small;
}
@media (min-width: 350px) {
    .ticket, .location {
        width: 300px;
        font-size: 16px;
        margin-bottom: 48px;
    }
    iframe {
        width: 300px;
    }
}
@media(min-width: 480px) {
    .bkleft {
        display: block;
        width: 200px;
        z-index: 3;
        position: fixed;
        top: 0;
        opacity: 0.5;
        left: -140px;
    }
    
    .bkright {
        display: block;
        width: 200px;
        z-index: 3;
        position: fixed;
        bottom: 0;
        opacity: 0.5;
        right: -140px;
    }
    details > summary img:first-child {
        margin-left: 24px;
    }
    details > summary img:last-of-type {
        margin-right: 24px;
    }
    
    details > div {
        display: flex;
    }
    details > div > p {
        padding-top: 0;
        margin-left: 216px;
    }
    .location {
        width: 450px;
    }
    iframe {
        width: 450px;
        height: 300px;
    }
}
@media (min-width: 615px) {
    .bkleft {
        left: calc(-140px + (100% - 615px) / 3);
    }
    .bkright {
        right: calc(-140px + (100% - 615px) / 3);
    }
    main {
        width: 600px;
        margin: 0 auto;
        background-color: #fff;
    }
    
}